<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h1 style="text-align: center;">Простейший калькулятор</h1>
    </header>
    <div>
        @RenderBody()
    </div>
    @RenderSection("Footer", required: false)
</body>
</html>