@model Laba1.Models.Opers

@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Thanks</title>
</head>
<body>
	<div>
		<h1>Ur result is  @Model.Result</h1>
	</div>
</body>
</html>